html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
}

html {
    font-size: 16px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: #444;
}

a {
    color: #1197C1;
}

b,
strong {
    font-weight: 700;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    flex-grow: 0;
    flex-shrink: 0;
}

body > .footer {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    max-width: 1160px;
    padding: 0 30px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__branding {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__branding-text {
    margin-left: 4px;
    font-size: 36px;
    font-weight: 400;
    color: #444;
}

.header__branding-text span {
    margin-right: 2px;
    font-weight: 100;
}

.header__nav {
    display: flex;
    font-size: 18px;
}

.header__nav-item {
    margin-left: 25px;
}

.header__nav-link {
    color: #444;
    text-decoration: none;
}

.header__nav-link img {
    vertical-align: middle;
    margin: -50% 0;
}

.header__nav-item:hover .header__nav-link,
.header__nav-item--selected .header__nav-link {
    color: #1197C1;
}

.header__nav-item--selected .header__nav-link span {
    padding-bottom: 2px;
    border-bottom: 2px solid #ffd446;
}

.hero {
    line-height: 1.7em;
    background-color: #2A92CA;
    color: #fff;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero__title {
    font-size: 26px;
    margin: 4px 0;
}

.hero__title a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
}

.hero__title a:hover {
    border-bottom: 1px solid #1f709c;
}

.hero__title-separator {
    margin-left: .3em;
    margin-right: .3em;
    color: #1f709c;
}

.hero__title-separator:after {
    content: '/';
}

.hero__subtitle {
    margin: 1.3em 0 0;
}

.hero__warning {
    padding: 2px 8px;
    border-radius: 4px;
    line-height: 1.6em;
    background: #ffecc3;
    color: #444;
}

.hero__controls {
    display: flex;
    align-items: center;
}

.hero__control {
    margin-left: 20px;
}

.hero__nav {
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    margin-top: 2px;
}

.hero__nav-item {
    margin-left: 40px;
}

.hero__nav-link {
    font-size: 20px;
    padding: 4px 0;
    text-decoration: none;
    color: #FFEEBC;
}

.hero__nav-link:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.hero__nav-item--selected .hero__nav-link {
    border-bottom: 2px solid #fff;
}

.hero--condensed .hero__container {
    margin-top: 18px;
    margin-bottom: 18px;
}

.hero--condensed .hero__title {
    font-size: 20px;
}

.hero--condensed .hero__control {
    margin-left: 10px;
}

.hero--condensed .hero__warning {
    font-size: 14px;
}

.page-content__container {
    margin-top: 34px;
    margin-bottom: 54px;
}

.footer {
    font-size: 14px;
    line-height: 1.7em;
    color: #cbd3d6;
    background: #37393a;
}

.footer p, .footer ul, .footer li {
    margin-bottom: 1em;
}

.footer a {
    color: #6dd2f4;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer__left,
.footer__right {
    margin-bottom: -1em;
}

.footer__left {
    text-align: left;
}

.footer__right {
    text-align: right;
}

.footer-text-input {
    height: 26px;
    line-height: 24px;
    padding: 0 8px;
    background: #000;
    border: 1px solid #616a6f;
    color: #fff;
    width: 180px;
}

.footer-button {
    height: 26px;
    padding: 0 8px;
    background: transparent;
    border: 1px solid #616a6f;
    color: #cbd3d6;
    cursor: pointer;
}

.inline-list li {
    display: inline;
}

.inline-list li:before {
    content: "\000B7\000A0";
    margin: 0 4px;
}

.inline-list li:first-child:before {
    display: none;
}

.inline-thunderbolt {
    vertical-align: middle;
    margin: -50% 0 -50% 2px;
}

.text-content {
    line-height: 1.7em;
}

.text-content a {
    text-decoration: none;
}

.text-content a:hover {
    text-decoration: underline;
}

.text-content h1 {
    margin: 1.4em 0;
    font-weight: 700;
}

.text-content h2,
.text-content h3,
.text-content h4 {
    margin: 2.3em 0 1.3em;
    font-weight: 400;
}

.text-content > h2:first-child,
.text-content > h3:first-child,
.text-content > h4:first-child {
    margin-top: 1.3em;
}

.text-content h1 {
    font-size: 26px;
}

.text-content h2 {
    font-size: 22px;
}

.text-content h3 {
    font-size: 18px;
}

.text-content h4 {
    font-size: 16px;
}

.text-content p {
    margin: 1.5em 0;
}

.text-content ul,
.text-content ol,
.text-content dl {
    margin: 1.5em 0 1.5em 3em;
}

.text-content ul {
    list-style-position: outside;
    list-style: disc;
}

.text-content ul ul {
    list-style-position: outside;
    list-style: circle;
}

.text-content ul ul ul {
    list-style: square;
}

.text-content li {
    margin: 1em 0;
}

.text-content dl {
    margin: 2em 0 2em 2em;
}

.text-content dt {
    margin: 1.5em 0 1em;
}

.text-content dd {
    margin: 1em 0 1.5em 2em;
}

.text-content table {
    margin: 1.5em 0;
    width: 100%;
    text-align: left;
}

.text-content th,
.text-content td {
    border: 1px solid #E4E4E4;
    padding: 7px 10px;
}

.text-content th {
    border-color: #ddd;
    background-color: #f2f2f2;
}

.text-content code {
    border-style: solid;
    border-color: #ddd;
    background: #f2f2f2;
    font-size: 0.8em;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    border-width: 0 0 1px 0;
    padding: 0 2px;
}

.text-content pre code {
    display: block;
    margin: 1.5em 0;
    border-width: 1px;
    padding: .5em .7em;
    line-height: 1.8em;
}

.highlight .hll {
    background-color: #ffffcc;
}

.highlight {
    background: #ffffff;
}

.highlight .c {
    color: #999988;
    font-style: italic;
}

/* Comment */
.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}

/* Error */
.highlight .k {
    font-weight: bold;
}

/* Keyword */
.highlight .o {
    font-weight: bold;
}

/* Operator */
.highlight .ch {
    color: #999988;
    font-style: italic;
}

/* Comment.Hashbang */
.highlight .cm {
    color: #999988;
    font-style: italic;
}

/* Comment.Multiline */
.highlight .cp {
    color: #999999;
    font-weight: bold;
}

/* Comment.Preproc */
.highlight .cpf {
    color: #999988;
    font-style: italic;
}

/* Comment.PreprocFile */
.highlight .c1 {
    color: #999988;
    font-style: italic;
}

/* Comment.Single */
.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
}

/* Comment.Special */
.highlight .gd {
    color: #000000;
    background-color: #ffdddd;
}

/* Generic.Deleted */
.highlight .ge {
    font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
    color: #aa0000;
}

/* Generic.Error */
.highlight .gh {
    color: #999999;
}

/* Generic.Heading */
.highlight .gi {
    color: #000000;
    background-color: #ddffdd;
}

/* Generic.Inserted */
.highlight .go {
    color: #888888;
}

/* Generic.Output */
.highlight .gp {
    color: #555555;
}

/* Generic.Prompt */
.highlight .gs {
    font-weight: bold;
}

/* Generic.Strong */
.highlight .gu {
    color: #aaaaaa;
}

/* Generic.Subheading */
.highlight .gt {
    color: #aa0000;
}

/* Generic.Traceback */
.highlight .kc {
    font-weight: bold;
}

/* Keyword.Constant */
.highlight .kd {
    font-weight: bold;
}

/* Keyword.Declaration */
.highlight .kn {
    font-weight: bold;
}

/* Keyword.Namespace */
.highlight .kp {
    font-weight: bold;
}

/* Keyword.Pseudo */
.highlight .kr {
    font-weight: bold;
}

/* Keyword.Reserved */
.highlight .kt {
    color: #445588;
    font-weight: bold;
}

/* Keyword.Type */
.highlight .m {
    color: #009999;
}

/* Literal.Number */
.highlight .s {
    color: #bb8844;
}

/* Literal.String */
.highlight .na {
    color: #008080;
}

/* Name.Attribute */
.highlight .nb {
    color: #999999;
}

/* Name.Builtin */
.highlight .nc {
    color: #445588;
    font-weight: bold;
}

/* Name.Class */
.highlight .no {
    color: #008080;
}

/* Name.Constant */
.highlight .ni {
    color: #800080;
}

/* Name.Entity */
.highlight .ne {
    color: #990000;
    font-weight: bold;
}

/* Name.Exception */
.highlight .nf {
    color: #990000;
    font-weight: bold;
}

/* Name.Function */
.highlight .nn {
    color: #555555;
}

/* Name.Namespace */
.highlight .nt {
    color: #000080;
}

/* Name.Tag */
.highlight .nv {
    color: #008080;
}

/* Name.Variable */
.highlight .ow {
    font-weight: bold;
}

/* Operator.Word */
.highlight .w {
    color: #bbbbbb;
}

/* Text.Whitespace */
.highlight .mb {
    color: #009999;
}

/* Literal.Number.Bin */
.highlight .mf {
    color: #009999;
}

/* Literal.Number.Float */
.highlight .mh {
    color: #009999;
}

/* Literal.Number.Hex */
.highlight .mi {
    color: #009999;
}

/* Literal.Number.Integer */
.highlight .mo {
    color: #009999;
}

/* Literal.Number.Oct */
.highlight .sa {
    color: #bb8844;
}

/* Literal.String.Affix */
.highlight .sb {
    color: #bb8844;
}

/* Literal.String.Backtick */
.highlight .sc {
    color: #bb8844;
}

/* Literal.String.Char */
.highlight .dl {
    color: #bb8844;
}

/* Literal.String.Delimiter */
.highlight .sd {
    color: #bb8844;
}

/* Literal.String.Doc */
.highlight .s2 {
    color: #bb8844;
}

/* Literal.String.Double */
.highlight .se {
    color: #bb8844;
}

/* Literal.String.Escape */
.highlight .sh {
    color: #bb8844;
}

/* Literal.String.Heredoc */
.highlight .si {
    color: #bb8844;
}

/* Literal.String.Interpol */
.highlight .sx {
    color: #bb8844;
}

/* Literal.String.Other */
.highlight .sr {
    color: #808000;
}

/* Literal.String.Regex */
.highlight .s1 {
    color: #bb8844;
}

/* Literal.String.Single */
.highlight .ss {
    color: #bb8844;
}

/* Literal.String.Symbol */
.highlight .bp {
    color: #999999;
}

/* Name.Builtin.Pseudo */
.highlight .fm {
    color: #990000;
    font-weight: bold;
}

/* Name.Function.Magic */
.highlight .vc {
    color: #008080;
}

/* Name.Variable.Class */
.highlight .vg {
    color: #008080;
}

/* Name.Variable.Global */
.highlight .vi {
    color: #008080;
}

/* Name.Variable.Instance */
.highlight .vm {
    color: #008080;
}

/* Name.Variable.Magic */
.highlight .il {
    color: #009999;
}

/* Literal.Number.Integer.Long */
.sidenote-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sidenote-layout__main {
    flex-grow: 1;
    padding-right: 40px;
}

.sidenote-layout__main > *:first-child {
    margin-top: 0;
}

.sidenote-layout__sidenote {
    flex-basis: 25%;
    flex-shrink: 0;
    border-left: 1px solid #ddd;
    padding-left: 20px;
    padding-bottom: 1em;
}

.sidenote-layout__sidenote a {
    text-decoration: none;
}

.sidenote-layout__sidenote a:hover {
    text-decoration: underline;
}

.sidenote-layout__sidenote h3,
.sidenote-layout__sidenote p {
    font-size: inherit;
    margin: .75em 0;
}

.sidenote-layout__sidenote > *:first-child {
    margin-top: 0;
}

.sidebar-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sidebar-layout__main {
    flex-grow: 1;
}

.sidebar-layout__main > *:first-child {
    margin-top: 0;
}

.sidebar-layout__sidebar {
    padding-left: 45px;
    white-space: nowrap;
}

.sidebar-layout__sidebar a {
    text-decoration: none;
}

.sidebar-layout__sidebar a:hover {
    text-decoration: underline;
}

.sidebar-layout__sidebar h3 {
    font-size: 16px;
    margin: 3em 0 1.4em;
}

.sidebar-layout__sidebar li {
    font-size: 14px;
    margin: 1.2em 0;
}

.sidebar-layout__sidebar > *:first-child {
    margin-top: .4em;
}

.external-theme {
    margin: 2em 0;
}

.external-theme a {
    text-decoration: none;
    color: #18557b;
}

.external-theme a:hover {
    color: #1197C1;
}

.external-theme__title {
    font-weight: 700;
}

.external-theme__title span {
    font-weight: 400;
}

.external-theme__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
}

.external-theme__img-wrap {
    position: relative;
    border: 7px solid #ccc;
    margin-right: 10px;
}

.external-theme__img-wrap img {
    float: left;
}

.external-theme__img-wrap--calendar:hover:after {
    content: 'View a demo of the calendar';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 6px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
}

.external-theme__arrow {
    position: relative;
    width: 0;
    height: 0;
    border: 20px solid #ccc;
    border-radius: 20px;
}

.external-theme__arrow:after {
    content: '';
    border-style: solid;
    border-width: 8px 0 8px 18px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: -8px;
    left: -7px;
}

.hero-button {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    padding: 0 8px;
    border: 1px solid #1f709c;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}

.hero-button:focus {
    outline: 0;
    border: 1px solid #0f557b;
}

a.hero-button {
    text-decoration: none;
}

button.hero-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    font-family: inherit;
}

.hero-button--condensed {
    height: 26px;
    line-height: 24px;
    padding-left: 6px;
    padding-right: 6px;
}

.hero-toggler {
    position: relative;
    z-index: 1;
    display: inline-flex;
    vertical-align: top;
    padding-left: 1px;
    font-size: 14px;
}

.hero-toggler__choice {
    position: relative;
    z-index: 2;
    height: 32px;
    margin-left: -1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #1f709c;
    padding: 0 8px;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.hero-toggler__choice:focus {
    outline: 0;
    border: 1px solid #0f557b;
}

.hero-toggler__choice img {
    margin-top: 6px;
    opacity: .8;
}

.hero-toggler--condensed .hero-toggler__choice {
    height: 26px;
    line-height: 24px;
}

.hero-toggler__choice--selected {
    z-index: 1;
    background: rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
}

.hero-select {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.hero-select__select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    height: 32px;
    padding: 0 26px 0 8px;
    border: 1px solid #1f709c;
    border-radius: 0;
    line-height: 30px;
    background: transparent;
    font-size: 14px;
    font-family: inherit;
    color: inherit;
}

.hero-select__select:focus {
    outline: 0;
    border: 1px solid #0f557b;
}

.hero-select__select option {
    padding: 0;
    color: #000;
}

.hero-select--condensed .hero-select__select {
    height: 26px;
    line-height: 24px;
}

.hero-select__arrow {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    width: 18px;
    border-left: 1px solid #1f709c;
    padding: 0 3px;
    background: rgba(0, 0, 0, 0.125);
    pointer-events: none;
}

.hero-select__arrow:after {
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: rgba(0, 0, 0, 0.35) transparent transparent transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -5px;
    content: '';
}

.fc-cell-content {
    background-color: #ffffcc;
}